<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="datacenterEntities" connectionString="metadata=res://*/DataCenterModel.csdl|res://*/DataCenterModel.ssdl|res://*/DataCenterModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=datacenter2&quot;" providerName="System.Data.EntityClient" /><add name="DataCenterLocalEntities" connectionString="metadata=res://*/DataCenterLocal.csdl|res://*/DataCenterLocal.ssdl|res://*/DataCenterLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DataCenterLocal.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
